<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ttms</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <mapping class="model.Court"/>
        <mapping class="model.Manager"/>
        <mapping class="model.Match"/>
        <mapping class="model.Player"/>
        <mapping class="model.Umpire"/>
        <mapping class="model.Referee"/>
        <mapping class="model.RegisteredUser"/>
        <mapping class="model.Tournament"/>
        <mapping class="model.Team"/>
        <mapping class="model.Set"/>
        <mapping class="model.Game"/>
        <mapping class="model.MatchStatistics"/>
    </session-factory>
</hibernate-configuration>
